<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="user_form_style.css" media="all">

</head>
<body>
  <form action="" method="post" id="form-login">
    <div class="form-item">
      <label for="edit-name">Username: <span class="form-required" title="This field is required.">*</span></label>
      <input type="text" maxlength="60" name="name" id="edit-name"  size="30" value="" tabindex="1" class="form-text required" placeholder="Username" />
      <div class="description">enter your username</div>
    </div>
    <div class="form-item">
      <label for="edit-pass">Password: <span class="form-required" title="This field is required.">*</span></label>
      <input type="password" name="pass" id="edit-pass"  size="40"  tabindex="2" class="form-text required" placeholder="Pasword"/>
      <div class="description">enter your password</div>
    </div>
    <input type="hidden" name="form_id" id="edit-user-login" value="user_login"  />
    <input type="submit" name="op" id="edit-submit" value="Log in"  tabindex="3" class="form-submit" />
    <p><a class="textlink" href="?q=user/password">Forgotten your Password?</a></p>
  </form>
</body>
</html>
